.temp-icon {
    width: 120px;
    height: 120px;
}

.temp {
    background-color: var(--neutral-800);
    border-radius: 20px;
    overflow: hidden;
}

.bg {
    background-image: url('./src/assets/images/bg-today-small.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-small {
    background-image: url('./src/assets/images/bg-today-small.svg');
}

.bg-large {
    background-image: url('./src/assets/images/bg-today-large.svg');
}

.secondary-info-item {
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    border-radius: 12px;
    padding: 20px;
    flex: 1 1 0;
    min-width: fit-content;
}

.secondary-info-label {
    color: var(--neutral-200);
}

.loading {
    min-height: 120px;
}

.dots-loader {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dots-loader span {
  width: 12px;
  height: 12px;
  background-color: var(--neutral-0);
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dots-loader span:nth-child(1) {
  animation-delay: 0s;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.15s;
}

.dots-loader span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
}