.units-icon {
    width: 14px;
    height: 14px;
}

@media (min-width: 768px) {
    .units-icon {
        width: 16px;
        height: 16px;
    }

    .dropdown-icon {
        width: 12px;
        height: 12px;
    }
}