@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&family=DM+Sans:ital,wght@0,300;0,500;0,600;0,700;1,600&display=swap');
@import "tailwindcss";
@import './styles/base/variables.css';
@import './styles/base/typographie.css';

@theme {
    --breakpoint-2xl: 90rem;
}

body {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
    font-family: var(--font-family-primary);
    padding: 1rem 1rem 3rem 1rem;
    min-width: 375px;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

@media (width >= 768px) {
    body {
        padding: 1.5rem 1.5rem 5rem 1.5rem;
    }
}