:root {
  /* Colors */
  --primary-orange-500: hsl(28, 100%, 52%);

  --primary-blue-500: hsl(233, 67%, 56%);
  --primary-blue-700: hsl(248, 70%, 36%);
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  
  /* Typography */
  --font-family-primary: 'DM Sans', sans-serif;
  --font-family-secondary: 'Bricolage Grotesque', sans-serif;
}